 <div id="cont-wrapper">
   <div class="canvas-editor full" style="height:85%">
   <div id="frame" class="absolute full-full">       
   </div>
   <img src="<%= pic %>" alt="" class="full" id="canvas-image" />
   </div>
   <div class="canvas-editor-opts full" style="height:15%; background:rgba(29, 29, 29, 1); z-index: 2; position:relative;">
     <div class="markups span7" style="float:left; width:80%">
           <ul class="">
           <li class="nav">
            <span class="markup-mini" data-cmd="set-frame" data-offset="57px 80px" data-option>
            <img src="assets/img/frame.png" alt="" class="full-full">
            </span>
            </li>

             <li class="nav">
            <span class="markup-mini" data-cmd="set-frame" data-offset="57px 80px" data-option>
            <img src="assets/img/frame.png" alt="" class="full-full">
            </span>
            </li>
       
           </ul>
     </div>
     <div class="span2" style="float:left; width:20%; height:100%;">
        <span class="opt-mini" style="float:left; width:100%"><i class="icon-redo2" style="-webkit-transform: rotate(-39deg);
display: block;"></i></span>
 
     </div>
     <div>
   </div>
 </div>