    <div class="events-slider">
 	 	<ul class="events" style="overflow:hidden;">

      <li style="background:url(assets/img/evento2.jpg); " class="cover">
       
           <span class="legend">
             <b>FIESTA LATINA</b> <br />
                Viernes 16 de Agosto - YAMIL MACIA #CROSSOVER 
           </span>
  
      </li>

 	 	
    	<li style="background:url(assets/img/evento1.jpg); " class="cover">
 			 
 	 				 <span class="legend">
 	 				 	 <b>CRESPO DESDE ECUADOR</b> <br />
 	 				 	    Sábado 17 de Agosto - OPEN SET ALFONSO PADILLA 
 	 				 </span>
 	
 	 		</li>


 	<li style="background:url(http://thecitylovesyou.com/cinerex/wp-content/uploads/2012/01/Flyer.jpg); " class="cover">
 			 
 	 				 <span class="legend">
 	 				 	 <b>EN 10 MINUTOS</b> <br />
 	 				 	    Sábado 17 de Agosto - EN 10 MINUTOS PRESENTA SU NUEVO SITIO WEB
 	 				 </span>
 	
 	 		</li>



 	 	</ul>
 	  </div>