
<div class="fuschia full-full absolute login">

<div class="cont-w">
<span class="center"> 	<img src="assets/img/logo.svg" alt="" width="240"/></span> <br /> <br />

<h3 class="tlce">Conectate y descrubre! </h3>
 

 <br />
 <br />



<a href="#" class="con-button fb" data-cmd="fb-connect" data-option>  Conectar <i class="icon-facebook5 i-circle"></i></a>



<br />
<br />

 <span class="tlce blockk">
  Al conectarte con nuestra aplicación das por aceptado, nuestras <a href="#" class="white under">Politicas de uso</a> y nuestros <a href="#" class="white under">Terminos y condiciones</a>
 </span>

</div>

</div>


